# Supabase Configuration
VITE_SUPABASE_URL=https://jtocgfqurrlyyvhfmfsc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_o5pFWa88vKImudzqdbVWkw_AyBOzXOj

# AI Moderation Model Configuration
GEMINI_API_KEY=
OPENROUTER_API_KEY=

