GEMINI_API_KEY=
AI_API_KEY=
GITHUB_TOKEN=
GROQ_API_KEY=
RENDER_EXTERNAL_URL=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=